.card-header {
    background-color: darkseagreen;
}

.card-body{
    background-color: rgba(225, 225, 225, 0.33);
}

.btnaddproduto{
    font-size: large;
    background-color:darkseagreen ;
}

.btndeleteproduto{
    font-size: small;
    background-color:rgb(91, 181, 91) ;
    position:absolute;
    top: 5px;
    right: 20px;
}

.cardfix{
    margin-bottom: 20px;
}