<app-header></app-header>
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->

<!-- MODAL -->
<ng-template #content let-modal>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Adicionar produto</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form #userPost="ngForm" (ngSubmit)="addProduto(userPost.value);  modal.close('Save click')"  fxLayoutAlign="stretch" fxLayout="column" class="login-form">

                    <mat-form-field>
                        <input matInput name="pname" placeholder="Nome do Produto" type="text" ngModel> 
                    </mat-form-field>
                    <mat-form-field >
                        <input matInput name="pdesc" placeholder="Descrição" type="text" ngModel>  
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput name="pprice" placeholder="Preço" type="number" ngModel>
                </mat-form-field>

            <button type="submit" class="btn btn-outline-dark">Salvar</button>
        </form>
    </div>


</ng-template>


<div class="section">
    <div fxLayoutAlign="center center">
        <button mat-raised-button type="button" class="btnaddproduto" (click)="open(content)">+ Adicionar
            produto</button>
    </div>
    <!-- /MODAL -->
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Nossos Produtos</h3>
                </div>
            </div>
            <!-- /section title -->

            <!-- Products -->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 col-sm-6 cardfix" *ngFor="let Produto of produtos">
                        <div class="card-header">
                            <div class="card-title">
                                <b>
                                    <p>{{ Produto.name}}</p>
                                </b>
                            </div>
                            <button mat-raised-button type="button" class="btndeleteproduto" (click)="dellProduto(Produto.id)">Excluir</button>
                        </div>
                        <div class="card-body">
                            <h5>{{ Produto.description.substr(0, 40)}}</h5>
                            <p class="lead">{{ Produto.price | currency:'BRL'}}</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
<!-- /container -->

<!-- /SECTION -->


<app-footer></app-footer>